<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Recipes", recipes_path %></li>
  <li role="presentation"><%= link_to "Chefs", chefs_path %></li>
</ul>

<h1>All Recipes</h1>
<hr/>
<%= will_paginate %>
<div class="container">
    <div class="row">
        <% @recipes.each do |recipe| %>
            <div class="col-md-4 m-b-lg">
                <div class="panel panel-default panel-profile m-b-0">
                    <div class="panel-heading" style="background-image: url(<%= recipe.picture.url %>);"></div>
                    <div class="panel-body text-center">
                        <%= link_to gravatar_for(recipe.chef, size: 50), chef_path(recipe.chef)  %>
                        <h5 class="panel-title ellipses"><%= link_to recipe.name, recipe_path(recipe) %></h5>
                        <p class="m-b ellipses"><%= recipe.summary %></p>
                        <% if recipe.styles.any? %>
                        <p><small>Styles: <%= render recipe.styles %></small></p>
                        <% end %>    
                        <% if recipe.styles.any? %>
                            <p><small>Ingredients: <%= render recipe.ingredients  %></small></p>
                        <% end %>    
                        <spam><small>update at <%= time_ago_in_words(recipe.updated_at) %>&nbsp
                        <i class="glyphicon glyphicon-thumbs-up"></i><%= recipe.thumbs_up_total %>&nbsp
                        <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp<%= recipe.thumbs_down_total %>
                        </small></spam>
                        </p>
                        <%= link_to 'Show', recipe_path(recipe), class: "btn btn-primary-outline btn-sm m-b" %>
                        <% if logged_in? and (recipe.chef == current_user || current_user.admin?) %>
                            <%= link_to 'Edit ', edit_recipe_path(recipe), class: "btn btn-primary-outline btn-sm m-b" %>
                        <% end %>
                        <% if current_user.admin? %>
                            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              recipe_path(recipe),
                              :method => 'delete',
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-danger' %>
                        <% end %>
                    </div>
                </div>
            </div> 
        <% end %>
    </div>
</div>
<% if @recipes.next_page %>
    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>
<% end %>