<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "myRecipes", "",class:"navbar-brand"  %>
      </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Browse products" %></li>
          <li><%= link_to "Price list" %></li>
          <li><%= link_to "Contact us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
    </div>
  </nav>